<!DOCTYPE html>
{% load static %}
{% if request.session.theme == 'dark' %}
<link rel="stylesheet" href="{% static 'styles/dark.css' %}">
{% else %}
<link rel="stylesheet" href="{% static 'styles/light.css' %}">
{% endif %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Study</title>
    </head>
    <body>
        {% include 'navbar.html' %} 
        {% block content %}
        {% endblock %}

    </body>
</html>