{% load static %}
{% load custom_filter %}
{% if request.session.theme == 'dark' %}
<link rel="stylesheet" href="{% static 'styles/dark.css' %}">
{% else %}
<link rel="stylesheet" href="{% static 'styles/light.css' %}">
{% endif %}

<div class="room">
    {%for room in rooms%}
        <div class = "post"> 
            <div class = "top_section"> 
                <div class = "post_edit">
                    <a href="{%url 'profile' room.host.id %}">@{{room.host.username}} </a>
                    {%if request.user == room.host%}
                    <a href="{% url 'update-room' room.id %}">Edit</a>\
                    <a href="{% url 'delete-room' room.id %}">Delete</a>
                    {%endif%}
                </div>
                <p>{{ room.created|days_since }}</p>
            </div>
            <div class="middle_section">
                <a href="{% url 'room' room.id %} ">
                    <h3> {{room.name}}</h3>
                    {% if room.description|length > 280 %}
                    <p id="short-description">{{ room.description|slice:":280" }}...</p>
                    <p id="full-description" style="display: none;">{{ room.description }}</p>
                    {% else %}
                        <p>{{ room.description }}</p>
                    {% endif %}
                </a>
            </div>
            <div class="bottom_section">
                <div>
                    <i class="fa-regular fa-comment"> </i> {{ room.message_count }}
                </div>
                <button><a href="{%url 'home'%}?q={{room.topic}}">{{room.topic}}</a></button>
            </div>
        </div>
        <br>
    {%endfor%}
</div>  
