{% load static %}
<link rel="stylesheet" href="{% static 'styles/main.css' %}?v={{ timestamp }}">

<div class="room">
    {%for room in rooms%}
        <div> 
            {%if request.user == room.host%}
            <a href="{% url 'update-room' room.id %}">Edit</a>\
            <a href="{% url 'delete-room' room.id %}">Delete</a>
            {%endif%}
            <a href="{%url 'profile' room.host.id %}">@{{room.host.username}} </a>
            <p>{{room.created|timesince}}</p>
            <div>
                <a href="{% url 'room' room.id %} ">
                    <h3> {{room.name}}</h3>
                    <h4>{{room.description}}</h4>
                    <small>{{room.topic.name}}</small>
        
                </a>
            </div>
        </div>
        <br>
    {%endfor%}
</div>  
