{% extends 'main.html' %}

{% block content %}
{% load static %}
{% if request.session.theme == 'dark' %}
<link rel="stylesheet" href="{% static 'styles/dark.css' %}">
{% else %}
<link rel="stylesheet" href="{% static 'styles/light.css' %}">
{% endif %}
<div class="home-container">
    <div class ="left_bar" >
        {% include 'base/topic_bar.html' %}
    </div>
    <div class="room_display">
        <div class="home_head_page">
            <h1>Bài đăng mới nhất</h1>
            <div class="room_create">
                <button><a href="{%url 'create-room'%}">tạo bài đăng mới</a></button>
            </div>
        </div>
        <div>
        {%include 'base/feed_composnent.html'%} 
        </div>
        
    </div>
    <div class="right_bar">
        {%include 'base/notification_bar.html'%}
    </div>
</div>


{% endblock content %}