{% extends 'main.html' %}

{% block content %}
{% load static%}
<link rel="stylesheet" href="{% static 'styles/main.css' %}?v={{ timestamp }}">
<div class="home-container">
    <div>
        {% include 'base/topic_bar.html' %}
    </div>
    <div class="room_display">
        <div class="home_head_page">
            <h1>Bài đăng mới nhất</h1>
            <div class="room_create">
                <button><a href="{%url 'create-room'%}">tạo bài đăng mới</a></button>
            </div>
        </div>
        <div>
        {%include 'base/feed_composnent.html'%} 
        </div>
        
    </div>
    <div>
        {%include 'base/notification_bar.html'%}
    </div>
</div>


{% endblock content %}