{%extends 'main.html'%}
{%block content%}
{% load static %}
{% if request.session.theme == 'dark' %}
<link rel="stylesheet" href="{% static 'styles/login_d.css' %}">
{% else %}
<link rel="stylesheet" href="{% static 'styles/login_l.css' %}">
{% endif %}
<div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</div>
{% if page == 'login'%}
<div class="login">
    <form method="POST">
        {% csrf_token %}
        <div class="hl">
        <p>Đăng nhập</p>
        </div>
        <div class="md">
        <label>Tên đăng nhập</label>
        <br>
        <div class="ip">
            <i class="fa-solid fa-user"></i><input type="text" name="username" placeholder="username">
        </div>
        <br><br>
        <label>Mật khẩu</label>
        <br>
        <div class="ip">
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="password" placeholder="password">
        </div>
        </div>
        <button type="submit" value="Login">Đăng nhập</button>
    </form>
    <div class="btc">
        <p>Bạn chưa tạo tài khoản ?  <a href="{% url 'register'%}">Đăng ký</a></p>
        
    </div>
    
</div>
{%else%}
<div class="register">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" value="Register">register</button>
    </form>
    <p>Bạn đã tạo tài khoản ?</p>
    <a href="{% url 'login'%}">Đăng nhập</a>
</div>
{%endif%}
{%endblock content%}