<!DOCTYPE html>
<html lang="en">
<head>
    <title>Navigation Bar</title>
    {% load static %}
    {% load static %}
    {% if request.session.theme == 'dark' %}
    <link rel="stylesheet" href="{% static 'styles/dark.css' %}">
    <link rel="stylesheet" href="{% static 'styles/b_dark.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'styles/light.css' %}">
    <link rel="stylesheet" href="{% static 'styles/b_light.css' %}">
    {% endif %}
</head>
<body>
    {% include 'navbar.html' %}
    <div class="midlle_section">
        <h3>Ôn tập theo chương</h3>
        <br>
        {%for bai in al%}
        <div class="bai">
        <a href="{%url 'luyen_tap' bai.id%}">ÔN TẬP {{bai.name}}</a>
        </div>
        {%endfor%}
    </div>

</body>

</html>