{% extends 'main.html' %}

{% block content %}
{% load custom_filter %}
{% load static %}
{% if request.session.theme == 'dark' %}
<link rel="stylesheet" href="{% static 'styles/dark.css' %}">
{% else %}
<link rel="stylesheet" href="{% static 'styles/light.css' %}">
{% endif %}

<div class="room-wraper">
    <div>
        {% include 'base/topic_bar.html' %}
    </div>

    <div class="inside_post">
        <div class="top_section">
        <a href="{%url 'profile' room.host.id %}">@{{room.host.username}} </a>
        <p>{{room.topic.name}}</p>
        <p>{{ room.created|days_since }}</p>
        </div>
        <div class="middle_section_i">
            <h1>{{room.name}}</h1>
            <h3>{{room.description}}</h3>
        </div>
        <div class="comment-section">
            <p>Comment</p>
            {%for comment in room_comment%}
            
            {%if request.user == comment.user%}
            <a href="{%url 'delete-message' comment.id%}">delete</a>
            {%endif%}

            <small><a href="{%url 'profile' comment.user.id%}">@{{comment.user}}</a> {{comment.created|timesince}}</small>
            <p>{{comment.body}}</p>
            <br>
            {%endfor%}
        </div>

        {%if request.user.is_authenticated %}
        <div class ='comment-form'>
            <form action="" method='POST'>
                {%csrf_token%}
                <input type="text" name="body" placeholder="Bình luận" >
            </form> 
        </div>

    </div>

    <div>
        {% include 'base/notification_bar.html'%}
    </div>
</div>
{%endif%}
{% endblock %}