<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thi thử</title>
    <!-- Load dynamic theme -->
    {% load static %}
    {% if request.session.theme == 'dark' %}
    <link rel="stylesheet" href="{% static 'styles/dark.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'styles/light.css' %}">
    {% endif %}
</head>
<body>
    <!-- Navbar -->
    {% include 'navbar.html' %}

    <!-- Main content -->
    <div class="exam-container">
        <div class="de">
            <div class="top">
            <h3>Đề 1</h3>
            <i class="fa-regular fa-clock"> </i> Thời gian: 50 phút
            </div>
            <div class="middle">
                <h4>Trong đề gồm có:</h4>
                <p>+ 28 câu trắc nghiệm</p>
                <p>+ 4 câu hỏi đúng sai</p>
            </div>
            <a href="{%url 'de_thi' 1%}">
                làm bài <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
        <br>
        <div class="de">
            <div class="top">
            <h3>Đề 2</h3>
            <i class="fa-regular fa-clock"> </i> Thời gian: 50 phút
            </div>
            <div class="middle">
                <h4>Trong đề gồm có:</h4>
                <p>+ 28 câu trắc nghiệm</p>
                <p>+ 4 câu hỏi đúng sai</p>
            </div>
            <a href="{%url 'de_thi' 2%}">
                làm bài <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
        <br>
        <div class="de">
            <div class="top">
            <h3>Đề 3</h3>
            <i class="fa-regular fa-clock"> </i> Thời gian: 50 phút
            </div>
            <div class="middle">
                <h4>Trong đề gồm có:</h4>
                <p>+ 28 câu trắc nghiệm</p>
                <p>+ 4 câu hỏi đúng sai</p>
            </div>
            <a href="{%url 'de_thi' 3%}">
                làm bài <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
        <br>
        <div class="de">
            <div class="top">
            <h3>Đề 4</h3>
            <i class="fa-regular fa-clock"> </i> Thời gian: 50 phút
            </div>
            <div class="middle">
                <h4>Trong đề gồm có:</h4>
                <p>+ 28 câu trắc nghiệm</p>
                <p>+ 4 câu hỏi đúng sai</p>
            </div>
            <a href="{%url 'de_thi' 4%}">
                làm bài <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
        <br>
        <div class="de">
            <div class="top">
            <h3>Đề 5</h3>
            <i class="fa-regular fa-clock"> </i> Thời gian: 50 phút
            </div>
            <div class="middle">
                <h4>Trong đề gồm có:</h4>
                <p>+ 28 câu trắc nghiệm</p>
                <p>+ 4 câu hỏi đúng sai</p>
            </div>
            <a href="{%url 'de_thi' 5%}">làm bài <i class="fa-solid fa-arrow-right"></i></a>
            
        </div>
        </div>
    </div>
</body>
</html>
