{%block content%}
{% load static %}
{% if request.session.theme == 'dark' %}
<link rel="stylesheet" href="{% static 'styles/dark.css' %}">
{% else %}
<link rel="stylesheet" href="{% static 'styles/light.css' %}">
{% endif %}
<div class="topic_wraper">
    <h3>Chủ Đề</h3>
    <hr>
    <div class="topic_all">
        <a href="{%url 'forum'%}">Tất Cả</a>
    </div>
    <div class="topic_display">
        {%for topic in topics%}
            <div class="topic_name">
                <a href="{%url 'forum'%}?q={{topic.name}}">{{topic.name}}</a>   
                <div class="topic_rc">
                    <p>{{topic.room_count}}</p>
                </div>
            </div>
            <br>
        {%endfor%}
    </div>
</div>

{%endblock%}
