<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trang chủ</title>
    {% load static %}
    {% if request.session.theme == 'dark' %}
    <link rel="stylesheet" href="{% static 'styles/home_d.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'styles/home_l.css' %}">
    {% endif %}
    <meta property="og:title" content="Ôn thi tin học 12">
    <meta property="og:description" content="Trang ôn thi tin học 12 giúp các bạn có thể ôn tập đề thi chương trình 2018">
    <meta property="og:url" content="https://onthitinhoc12.com/">
    <meta property="og:image" content="{% static 'images/icon/thumnail.png' %}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Ôn thi tin học 12">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="top_all">
        <div class="top_left">
            <img src="{% static 'images/icon/banner.png' %}" alt="banner images">
        </div>
        <div class="top_right">
            <div class="top1">
                <p>Ôn tập</p>
            </div>
            <div class="mid1">
                {%for bai in on_tap%}
                <div class="bai">
                <a href="{%url 'bai' bai.id %}">{{bai.name|title}}</a>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="decor">
        <p></p>
    </div>
    <div class="middle1">
        <div class="middle_left">
            <h4>Ôn tập với các bài thi thử</h4>
            <div class="exam-container">
                <div class="de">
                    <div class="top">
                    <h3>Đề 1</h3>
                    <i class="fa-regular fa-clock"> </i> 50 phút
                    </div>
                    <div class="middle">
                        <p>24 câu trắc nghiệm</p>
                        <p>4 câu hỏi đúng sai</p>
                    </div>
                    <a href="{%url 'de_thi' 1%}">
                        làm bài <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
                <br>
                <div class="de">
                    <div class="top">
                    <h3>Đề 2</h3>
                    <i class="fa-regular fa-clock"> </i> 50 phút
                    </div>
                    <div class="middle">

                        <p>24 câu trắc nghiệm</p>
                        <p>4 câu hỏi đúng sai</p>
                    </div>
                    <a href="{%url 'de_thi' 2%}">
                        làm bài <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
                <br>
                <div class="de">
                    <div class="top">
                    <h3>Đề 3</h3>
                    <i class="fa-regular fa-clock"> </i> 50 phút
                    </div>
                    <div class="middle">
                        <p>24 câu trắc nghiệm</p>
                        <p>4 câu hỏi đúng sai</p>
                    </div>
                    <a href="{%url 'de_thi' 3%}">
                        làm bài <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>  
        </div>
            <div class="middle_right">
                <h4>Ôn tập theo các chương</h4>
                {%for bai in on_tap%}
                <div class="bai">
                    <a href="{%url 'luyen_tap' bai.id %}">Ôn tập {{bai.name|lower}}</a>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <footer>
        
    </footer>
</body>

</html>