<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trang chủ</title>
    {% load static %}
    {% if request.session.theme == 'dark' %}
    <link rel="stylesheet" href="{% static 'styles/home_d.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'styles/home_l.css' %}">
    {% endif %}
</head>
<body>
    {% include 'navbar.html' %}
    <div class="top_all">
        <div class="top_left">
            <p>img</p>
        </div>
        <div class="top_right">
            <div class="top1">
                <p>Ôn tập</p>
            </div>
            {%for bai in on_tap%}
            <div>
            <a href="{%url 'bai' bai.id %}">{{bai.name|title}}</a>
            </div>
            {%endfor%}
            <div class="botton_1">
            <a href="on_tap_pv">Xem thêm</a><i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
            </div>
        </div>
    </div>

    <div class="middle">
        <div class="middle_left">
            <p>Ôn tập với các bài thi thử</p>
            <div class="exam-container">
                <div class="de">
                    <div class="top">
                    <h3>Đề 1</h3>
                    <i class="fa-regular fa-clock"> </i> Thời gian: 50 phút
                    </div>
                    <div class="middle">
                        <h4>Trong đề gồm có:</h4>
                        <p>+ 28 câu trắc nghiệm</p>
                        <p>+ 4 câu hỏi đúng sai</p>
                    </div>
                    <a href="{%url 'de_thi' 1%}">
                        làm bài <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
                <br>
                <div class="de">
                    <div class="top">
                    <h3>Đề 2</h3>
                    <i class="fa-regular fa-clock"> </i> Thời gian: 50 phút
                    </div>
                    <div class="middle">
                        <h4>Trong đề gồm có:</h4>
                        <p>+ 28 câu trắc nghiệm</p>
                        <p>+ 4 câu hỏi đúng sai</p>
                    </div>
                    <a href="{%url 'de_thi' 2%}">
                        làm bài <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
                <br>
                <div class="de">
                    <div class="top">
                    <h3>Đề 3</h3>
                    <i class="fa-regular fa-clock"> </i> Thời gian: 50 phút
                    </div>
                    <div class="middle">
                        <h4>Trong đề gồm có:</h4>
                        <p>+ 28 câu trắc nghiệm</p>
                        <p>+ 4 câu hỏi đúng sai</p>
                    </div>
                    <a href="{%url 'de_thi' 3%}">
                        làm bài <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
                <br>
                <div class="de">
                    <div class="top">
                    <h3>Đề 4</h3>
                    <i class="fa-regular fa-clock"> </i> Thời gian: 50 phút
                    </div>
                    <div class="middle">
                        <h4>Trong đề gồm có:</h4>
                        <p>+ 28 câu trắc nghiệm</p>
                        <p>+ 4 câu hỏi đúng sai</p>
                    </div>
                    <a href="{%url 'de_thi' 4%}">
                        làm bài <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
                <br>
                <div class="de">
                    <div class="top">
                    <h3>Đề 5</h3>
                    <i class="fa-regular fa-clock"> </i> Thời gian: 50 phút
                    </div>
                    <div class="middle">
                        <h4>Trong đề gồm có:</h4>
                        <p>+ 28 câu trắc nghiệm</p>
                        <p>+ 4 câu hỏi đúng sai</p>
                    </div>
                    <a href="{%url 'de_thi' 5%}">làm bài <i class="fa-solid fa-arrow-right"></i></a>
                    
                </div>
                </div>
            </div>
        </div>
        <div class="middle_right">
            <p>Ôn tập theo các chương</p>
            {%for bai in on_tap%}
            <div>
                <a href="{%url 'luyen_tap' bai.id %}">Ôn tập {{bai.name|lower}}</a>
            </div>
            {%endfor%}
        </div>
    </div>
    <footer>
        
    </footer>
</body>

</html>